.brand {
    margin: auto;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;

    .info {
        color: rgb(61, 9, 109);
        width: 60%;
        margin: auto;
    }
    .title h1{
        color: rgb(27, 3, 49);
        width: 60%;
        margin: auto;
        font-weight: bold;
    }
}
header {
    height: 150px;
    padding: 20px;
    width: 50%;
    font-size: 20px;
  
    .nav-section {
      margin: 0 50px;
    }
  
  }
  .navbar-light .navbar-text {
    color: white;
    
    &:hover,
    &:active {
      color: rgb(85, 20, 85);
    }
  }